@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&family=Manrope&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap);



:root {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    width: 18rem;
  }
  
  header {
    display: flex;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
    background-color: rgb(51, 22, 22);
  }
  
  header .logo {
    width: 5rem;
  }
  
  nav {
    width: 100%;
  }
  
  ul {
    font-size: 2.4rem;
    line-height: 3.6rem;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;   
    display: flex;
    justify-content: center;
    gap: 7rem;
  }
  
  li {
    position: relative;
  }
  
  li::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ff4006;
    transition: 0.4s
  }
  
  li:hover::before {
    width: 100%;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }

.icon {
    position: fixed;
    bottom: 30px;
    right: 20px;
    font-size: 30px;
    background-color: #01e675;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px 
    #c0bdbd;
    transition: 0.4s;
}

.icon:hover {
    /* background-color: #fff;
    color: #029e3b;
    font-weight: 900;*/
    transform: scale(1.3);
    transition: ease 0.6s;
}

#home {
    text-align: center;
  }
  
#home header {
    background: url("./img/pizza2.png") ;
    background-size: cover;
    position: relative;
    padding: 7rem 5rem;
    display: flex;
    flex-direction: column;
    color: #fff
}
  
#home header .opacity {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(110, 90, 90, 0.8);
}
  
#home header h1 {
    position: relative;
    z-index: 2;
    font-size: 7rem;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 2rem;
}
  
#home header h2 {
    position: relative;
    z-index: 2;
    font-family: 'Dancing Script', cursive;    
    font-size: 2.4rem;
    margin-top: -3rem;
}
  
#home h4 {
    margin: 7rem 0 2rem;
    font-size: 4rem;
}
  
#home p {
    font-size: 2.4rem;
    padding-inline: 10rem;
    margin-inline: auto;
    max-width: 120rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5vw);
    grid-gap: 20px;
    padding: 20px;
}

.gallery__img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    transition: 0.4s;
}

.gallery__img:hover {
    transform: scale(1.2);
    transition: ease 0.6s;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 30px auto 0;
}

#cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
    font-size: 1.6rem;
}

#cardapio table caption {
    font-family: 'Montserrat', sans-serif;   
    font-size: 2.8rem;
    font-weight: 700;
    padding: 1rem;
  }
  
th, td {
    padding: 0.8rem;
}
  
#cardapio table img {
    width: 5rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 30px auto 0;
}

#bebidas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1rem;
    font-size: 1.6rem;
}

#bebidas table caption {
    font-family: 'Montserrat', sans-serif;   
    font-size: 2.7rem;
    font-weight: 700;
    padding: 1rem;
  }
  
th, td {
    padding: 0.8rem;
}
  
#bebidas table img {
    width: 6rem;
}

.pedido {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    padding: 30px;
}

.pedido a {
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: rgb(255, 154, 82);
    padding: 12px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.4s;
}

.pedido a:hover {
    color: rgb(250, 116, 20);
    border-color: rgb(250, 213, 186);
    background: transparent;
    box-shadow: 2px 2px 20px 
    rgb(255, 154, 82);
}

footer {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    font-size: 13px;
    padding: 20px;
    color: white;
    background-color: rgb(65, 43, 43);
}

footer a{
    color:white
}

footer a:hover{
    color: rgb(250, 116, 20);
}